<html>
  <head>
    <meta charset="utf-8">
		<title>Kalkulacka</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="calculator">
      <div>
          <input class="calculator-screen" type="text" value="" disabled />
      </div>
      <div class="calculator-grid">
          <button (click)="name(1)">1</button>
          <button (click)="name(2)">2</button>
          <button (click)="name(3)">3</button>
          <button (click)="name(4)">4</button>
          <button (click)="name(5)">5</button>
          <button (click)="name(6)">6</button>
          <button (click)="name(7)">7</button>
          <button (click)="name(8)">8</button>
          <button (click)="name(9)">9</button>
          <button (click)="name(0)">0</button>
          <button (click)="name('+')">+</button>
          <button (click)="name('-')">-</button>
          <button (click)="name('*')">&times;</button>
          <button (click)="name('/')">&divide;</button>
          <button (click)="name('=')">=</button>
      </div>
    </div>
</body>
</html>